* { color: snow; }

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}

#home {
    /*position: relative;*/
    /*text-align: center;*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*background-color: #707C80;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-transform: scale(1);*/
    /*overflow: hidden;*/
    background-color: #475b68;
    /*background: url("../img/photo1.jpg") 50% 0 repeat fixed;*/
    /*background-color: #E8E9E9;*/
}
#home * { color: #000000; }
#bio { background: url("../img/photo2.jpg") 50% 0 repeat fixed; }
#projects { background: url("../img/photo3.jpg") 50% 0 repeat fixed; }
#contact { background: url("../img/photo1.jpg") 50% 0 repeat;}

.section {
        position: relative;
        /*min-height: 600px;*/
        /*height:100vh;*/
        padding-top: 1px;
}
.extendedSection {
    /*height:140vh;*/
    text-align: center;
}

.carouselCustom { display: none; margin-top: 1em; }
.carouselInner { height: 37em; }
/*.carousel { position: initial; }*/
.gapDiv { height: 35px; }

#navigationBtnGroup {
    display: inline-block;
    padding-left: 0;
}
#navigationBtnGroup button {
    background-color: #e74c3c;
    border: #e74c3c;
}

.home-header {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.homeBtnGroup {
    text-align:center;
    padding-top: 5%;
}

/* moving divs */
@media (min-width: 767px) {
    .leftDiv, .rightDiv {
        display: none;
    }
    .rightMovingDiv {
        font-weight: bold;
        /*position: relative;*/
        width: 100%;
        height: 100%;
        display: block;
        -webkit-animation: rightMove 2s forwards; /* Chrome, Safari, Opera */
        animation: rightMove 2s forwards;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    @-webkit-keyframes rightMove {
        from {margin-left: 0px;}
        to {margin-left: 32%;}
    }
    @keyframes rightMove {
        from {margin-left: 0px;}
        to {margin-left: 32%;}
        /*100% {text-align: center;}*/
    }
    .leftMovingDiv {
        font-weight: bold;
        width: 100%;
        height: 100%;
        display: block;
        -webkit-animation: leftMove 2s forwards; /* Chrome, Safari, Opera */
        animation: leftMove 2s forwards;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    @-webkit-keyframes leftMove {
        from {margin-left: 100%;}
        to {margin-left: 32%;}
    }
    @keyframes leftMove {
        from {margin-left: 100%;}
        to {margin-left: 32%;}
    }
}
/* end - moving divs */

/**  
 * 'Back to top' button
 **/
.backToTop {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(22, 160, 155, 0.3);
    position: fixed;
    /*text-indent: -9999px;*/
    text-align: center;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    display: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: slideup 1s ease;
    -moz-animation: slideup 5s ease;
    animation: slideup 1s ease;
}
.backToTop > a {
    width: 58px;
    height: 58px;
    display: block;
}
.backToTop span {
    font-size: xx-large;
    opacity: 0.8;
    top: 11px;
    right: 1px;
}

/** flipping images 
 * Special thanks to David Walsh for the flipping CSS
 **/
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
/*.flip-container.hover .flipper {*/
    /*transform: rotateY(180deg);*/
/*}*/
.flip-container, .front, .back {
    width: 260px;
    height: 170px;
}
.flip-container img{
    height: 100%;
    width: 100%;
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
/*.rotate {*/
    /*transform: rotateY(180deg);*/
/*}*/


/* Form related */
.form {padding: 20px; background-color: white; }
.icon { padding: 10px 50px; }
.noborder { border: white; }
.form textarea {color: #000000; box-sizing: border-box; width: 100%;}

/*input[type="text"]:focus,*/
/*input[type="email"]:focus,*/
/*input[type="password"]:focus,*/
/*textarea:focus {*/
/*background-color: #fff;*/
/*border-color: #394042;*/
/*border-radius: 0;*/
/*}*/

/***********************/
/* CUSTOM Bootstrap CSS*/
.row { width: 100%;}
.container .text-muted {margin: 20px 0;color: #f1f1f1;}
.popover { background-color: #e74c3c; }
.popover.right>.arrow:after { border-right-color: #e74c3c; }
.buttonsDiv{border-top: 3px double #E0E0E0;padding-top: 1em;padding-bottom: 1em;margin-top:0;margin-bottom:1em;margin-right:0!important;margin-left:0!important;float:left;width:100%}
.input-group {padding-bottom: 20px;}
.input-group-addon {background-color: white; border: 0 white;}

/* Coloured navigation bar */
.navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}
/* End - Coloured navigation bar */